:root {
  --el-color-primary: #0d9488;
  --el-color-primary-light-3: #5eead4;
  --el-color-primary-light-5: #99f6e4;
  --el-color-primary-light-7: #ccfbf1;
  --el-color-primary-light-8: #f0fdfa;
  --el-color-primary-light-9: #f0fdfa;
  --el-color-primary-dark-2: #0f766e;
  --el-color-success: #10b981;
  --el-color-warning: #f59e0b;
  --el-color-danger: #ef4444;
  --el-border-radius-base: 8px;
  --el-border-radius-small: 6px;
}
